@model Introducao.Models.Pessoa

@{
    ViewBag.Title = "Index";
}

<h2>Curso de ASP MVC</h2>
<p>Curso com Hugo Vasconcelos </p>


<br/>
<br />

<p>View Tipada</p>

<br />

<form action="Home/Lista" method="post">
    <fieldset>
        <legend>
            Informações de Pessoas
        </legend>

        <div>
            <label for="PessoaId">
                Código
            </label>
        </div>
        <div>
            <input type="number" value="@Model.PessoaId" name="PessoaId" />
        </div>

        <div>
            <label for="Nome">
                Nome
            </label>
        </div>
        <div>
            <input type="text" value="@Model.Nome" name="Nome" />
        </div>

        <div>
            <label for="Tipo">
                Tipo
            </label>
        </div>
        <div>
            <input type="text" value="@Model.Tipo" name="Tipo" />
        </div>

        <p><input type="submit" value="Enviar"/></p>

    </fieldset>
</form>